<launch>

  <!-- Launch Gazebo with the specified world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find jackal_gazebo)/worlds/jackal_race.world" />
  </include>

  <include file="$(find jackal_description)/launch/description.launch">
    <arg name="config" value="front_laser" />
  </include>
  <include file="$(find jackal_control)/launch/control.launch" />

  <!--- Run gmapping -->
  <include file="$(find jackal_navigation)/launch/include/gmapping.launch" />

  <!--- Run Move Base -->
  <include file="$(find jackal_navigation)/launch/include/move_base.launch" />

  <!-- Run Rviz with gmapping configuration-->
  <param name="use_gui" value="true"/>
  <arg name="config" default="gmapping" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jackal_viz)/rviz/$(arg config).rviz" />

  <!-- Run Node that sets waypoints for patrolling-->
  <arg name="spawning_coordinates" value="$(arg spawn)" />
  <node pkg="waypoint_patroling" name="patroller" type="patroller.py"  output="screen" args="$(arg spawning_coordinates)"/>
  <!-- This saves the created bag file in root direcory in the folder ~/.ros -->
  <node pkg="rosbag" type="record" name="waypoint_patrol_bag"
            args="-o waypoint_patrol_bag /cmd_vel /move_base/goal /jackal_velocity_controller/cmd_vel /front/scan /tf"/>

  <!-- Spawn Jackal -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
	      args="-urdf -model jackal -param robot_description -x -3 -y -1 -z 1.0" />

</launch>
